/*Break points for rwd*/
/*animations*/
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIN {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOUT {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes popUP {
  from {
    font-size: 3em;
  }
  to {
    font-size: 6em;
  }
}
.fadeIN {
  animation: fadeIN 1s ease-in forwards;
}

.fadeOUT {
  animation: fadeOUT 1s ease-in forwards;
}

.popUP {
  animation: popUP 1s ease-in-out forwards;
}

/*Default style*/
body {
  scroll-behavior: smooth;
  background-color: #f8f9fa !important;
  overflow-x: hidden;
}
body .dropdown-menu .current_lang {
  color: steelblue;
}
body .dropdown-menu a {
  margin-left: 0.3vw;
}
body .bg-cover {
  height: 50vh;
  background-position: center;
  background-size: cover;
}
body .carousel-caption {
  background-color: rgba(34, 34, 34, 0.5);
}
body .row {
  margin-right: 0;
}
body .row .logo img:hover {
  filter: brightness(0);
  transition: 0.5s;
}
body .row .demo {
  height: 33vh;
}
body .row .desktop {
  margin-bottom: 5vh;
  background-color: white;
}
body .row .mobile {
  display: none;
}
body .row tr, body .row th, body .row td {
  border: 1px solid lightgray;
}
body .row #detail {
  resize: none;
  width: 100%;
  height: 20vh;
}
body .row .submit_modal #animation {
  padding: 1% 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .row .submit_modal #animation .outterCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: steelblue;
  animation: loading 1s linear infinite;
  margin: 0 auto;
}
body .row .submit_modal #animation .outterCircle .innerCircle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: white;
}
body .row .submit_modal #animation .loading {
  text-align: center;
}
body .row .submit_modal #animation #close {
  border-radius: 50px;
  border: 1px solid steelblue;
  background: none;
  cursor: pointer;
  padding-bottom: 1%;
}
body .row .submit_modal #animation #close:hover {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  transition: 0.5s;
}
body #Short_info {
  background-color: steelblue;
}
body #Short_info .explain {
  text-align: center;
}
body #Short_info .explain:hover {
  background-color: #222;
  color: white;
  transition: 0.5s;
}
body .section_title {
  border-bottom: 1px solid gray;
}
body .img-thumbnail {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .flex_center {
  display: flex;
  justify-content: center;
}
body footer {
  color: white;
}
body footer .outterLinks {
  display: flex;
  justify-content: center;
}
body footer .outterLinks .link {
  margin: 1vh 0.5vw;
}
body footer .outterLinks .link img {
  width: 50px;
}
@media (max-width: 768px) {
  body #Commission_Detail {
    margin-top: 7vh;
  }
  body .row-mobile {
    margin-left: 0 !important;
  }
  body .text {
    color: white;
  }
  body .refer {
    color: lightgoldenrodyellow;
  }
  body .refer:hover {
    color: whitesmoke;
    background-color: rgba(34, 34, 34, 0.7);
    transition: 0.5s;
  }
  body .demo {
    height: 43vh !important;
  }
  body .desktop {
    display: none;
  }
  body .mobile {
    display: block !important;
  }
  body .mobile tbody, body .mobile tr, body .mobile td {
    display: block;
  }
  body .link {
    width: 10%;
  }
  body #Pic {
    margin-top: 3vh;
    position: static !important;
  }
  body .form-decoration {
    margin-right: 0 !important;
  }
}
@media (max-width: 576px) {
  body #Short_info .container .row {
    margin: unset;
  }
  body .submit_modal #animation i {
    font-size: 7rem !important;
  }
  body .submit_modal #animation #close {
    font-size: 1.2rem;
  }
  body .link {
    margin-right: 2vw !important;
  }
}
@media (max-width: 480px) {
  body #Commission_Detail {
    margin-top: 10vh;
  }
  body .demo {
    height: 45vh !important;
  }
  body .link {
    margin-right: 4vw !important;
  }
}/*# sourceMappingURL=index.css.map */