/*Break points for rwd*/
@mixin large{
    @media(max-width: 768px){
        @content;
    }
}

@mixin middle {
    @media(max-width: 576px){
        @content;
    }
}

@mixin small {
    @media(max-width: 480px){
        @content;
    }
}

/*animations*/
@keyframes loading {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes fadeIN {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeOUT {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes popUP{
    from{font-size: 1rem;}
    to{font-size: 2rem;}
}

.fadeIN{
    animation: fadeIN 1s ease-in forwards;
}

.fadeOUT{
    animation: fadeOUT 1s ease-in forwards;
}

.popUP{
    animation: popUP 1s ease-in-out forwards;
}

/*Default style*/
body{
    background-color: #f8f9fa!important;

    .lang{
        padding: 1.6vw;
        float: right;
        .active{
            border-radius: 10px;
            background-color: steelblue;
            color: white;
            padding: 3px;
        }
        a{ 
            margin-left: 0.3vw;
            &:hover{
                color: white;
            }
        }
        
    }

    .bg-cover{
        height: 50vh;
        background-position: center;
        background-size: cover; 
    }

    .carousel-caption{
        background-color: rgba(34, 34, 34, 0.5);
    }

    .row{
        margin-right: 0;

        .logo{
            img:hover{
                filter: brightness(0);
                transition: 0.5s;
            }
        }

        .demo{
            height: 30vh;
        }

        .desktop{
            margin-bottom: 5vh;
            background-color: white;
        }

        .mobile{
            display: none;
        }

        tr, th, td{
            border: 1px solid lightgray;
        }

        #detail{
            resize: none;
            width: 100%;
            height: 20vh;
        }

        .submit_modal{
            width: 100vw;
            border-radius: 10px;
            /* border: 1px solid red; */
            position: relative;
            z-index: 3;
            margin: -120% 20% 0 0;
            /* background-color: rgba(34, 34, 34, 0.75); */
            #animation{
                top: 50%;
                left: 50%;
                transform: translate(-50% -50%);
                position: absolute;
                /* border: 1px solid blue; */
                border-radius: 50px;
                padding: 1% 2%;
                background-color: white;
                .outterCircle{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: steelblue;
                    animation: loading 1s linear infinite;
                    margin: 0 auto;
                    .innerCircle{
                        width: 190px;
                        height: 190px;
                        border-radius: 50%;
                        background-color: white;
                    }
                }
                .loading{
                    text-align: center;
                }
                #close{
                    width: 50px;
                    border-radius: 50px;
                    border: 1px solid steelblue;
                    background: none;
                    margin-left: 30%;
                    cursor: pointer;
                    padding-bottom: 1%;
                    &:hover{
                        background-color: rgba(34, 34, 34, 0.9);
                        color: white;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    #Short_info{
        background-color:  steelblue;
        color: white;

        .explain{
            text-align: center;
            &:hover{
                background-color:  #222;
                transition: 0.5s;
            }
        }
    }

    footer{
        color: white;
        .outterLinks{
            display: flex;
            justify-content: center;
            .link{
                margin: 1vh 0.5vw;
                img{
                    width: 50px;
                    filter: contrast(50%);
                    &:hover{
                        filter: none;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    @include large{
        .lang{
            padding: 2.7vw;
        }

        .row-mobile{
            margin-left: 0 !important;
        }
    
        .text{
            color: white;
        }

        .refer{
            color: lightgoldenrodyellow;
            &:hover{
                color: whitesmoke;
                background-color: rgba(34, 34, 34, 0.7);
                transition: .5s;
            }
        }
    
        .demo{
            height: 43vh!important;
        }
    
        .desktop{
            display: none;
        }
    
        .mobile{
            display: block!important;
            tbody, tr , td{
                display: block;
            }
        }

        .link{
            width: 10%;
        }

        #Pic{
            margin-top: 3vh;
            position: static !important;
        }

        .form-decoration{
            margin-right: 0 !important;
        }
    
        .submit_modal{
            margin: -500% 40% 0 0!important;
        }
    }

    @include middle{
        .submit_modal{
            margin-right: 60%!important;
            #animation{
                width: 60vw;
                height: 30vh;
                i{
                    font-size: 7rem!important;
                    margin-left: 34%!important;
                }
                #close{
                    width: 100px;
                    height: 50px;
                    margin: 10% 0 0 33%;
                    font-size: 1.2rem;
                }
            }
        }

        .link{
            margin-right: 2vw!important;
        }
    }

    @include small{
        .demo{
            height: 33vh!important;
        }

        .link{
            margin-right: 4vw!important;
        }
    }
}